/*HEADER*/
.logo {
	width:100px;
}

header {
	display: inline-block;
	width: 100%;
}

nav {
	float:right;
	margin-top:23px;
	display: inline-block;
}

nav li {
	float:left;
	margin-left: 25px;
}

/*GENERAL*/

body {
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

*{
	box-sizing: border-box;
}

.no-bullet {
	list-style-type:none;
	margin:0;
	padding:0;
	display: inline-block;
}

.icon {
	width:25px;
	margin-top: 20px;
	display: inline-block;
}

/*FONTS*/

h1 {
	font-size: 30px;
	text-align: center;
}

h2 {
	font-size: 24px;
}

.column-4 h2{
	font-size: 16px;
}

h3 {
	font-size: 18px;
}

/*CTA*/


a {
	color: #0BA8D0;
}

a:visited {
	color: #4A90E2;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #ffffe0;
}

a:active {
	color: #D0021B;
}

button, /*applies for button in a form*/
.button, /*applies for links with a button class*/
a.button {
	background-color: #0BA8D0;
	font-size: 14px;
	color: white;
	padding: 8px;
	margin: 5px auto;
	border-radius: 2px;
	font-family: inherit;
	border-bottom: 2px solid #D3D3D3;
	text-decoration: none;
	transition: 0.4s background-color;
}

button:hover,
button:focus,
a.button:hover,
a.button:focus {
	cursor: pointer;
	background-color: rgba(11, 168, 208, 0.8);
}

/*CONTAINERS*/

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

.contact-info{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}

.container{
	padding: 0 300px;
}

.columns-container {
	font-size: 0;
}

.columns-container img{
	max-width: 100%;
}

.column-4 {
	font-size: 16px;
	width: 24.25%;
	display: inline-block;
	margin-right: 1%;
	text-align: center;
}

.column-4:last-child {
	margin-right:0;
}

/*animations*/

@keyframes color-change {
	0% {fill: #edc655;}
	50% {fill: #fcffad;}
	100% {fill: #f76414;}
}

.sun {
	animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
	from {transform: translate(0,50px);}
	to {transform: translate(200px,50px);}
}

.cloud-front {
	animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
	from {transform: translate(446px,48px);}
	to {transform: translate(100px,48px);}
}

.cloud-back{
	animation: 34s cloud-move-reverse infinite alternate linear;
}

/*Medium devices (tablets, less than 992px)*/

@media (max-width: 991px) {
	.column-4 {
		width: 48%;
		margin-right: 10px;
		margin-bottom: 20px;
	}
	.container{
		padding: 0px 30px;
	}
}

/*Small devices (landscape phones, less than 768px)*/

@media (max-width: 767px) {
}

/*Extra small devices (portrait phones, less than 576px)*/

@media screen and (max-width: 575px) {
	header {
		text-align: center;
	}
	.logo {
		width:150px;
	}
	nav {
		float:none;
		width: 100%;
	}
	nav li{
		margin: 0 10px;
	}
	.wrapper {
		padding: 0 10px;
	}
	.column-4 {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}
